$cabanelf-rood: rgba(127, 26, 0, 1);
$cabanelf-elf: rgba(222, 122, 28, 1);
$cabanelf-achtergrond: rgba(234, 221, 212, 1);
$cabanelf-2: rgba(252, 222, 190, 1);
$cabanelf-3: rgba(212, 210, 165, 1);
$navbar-bg: rgb(40, 40, 40);
$cabanelf-huis-bg: rgb(205, 214, 223);
$cabanelf-wit: #FFFFFF;
$nav-pic-size: 120px;