@import 'main.scss';
.galerij {
    background-color: $navbar-bg;
    height: 90vh;
    margin-top: -20px;
}

.galerij-foto {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    padding-top: 30px;
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}

.galerij-foto:hover {
    filter: grayscale(0%);
}

.foto-menu {
    width: 150px;
    height: 150px;
}