// COLORS
$cabanelf-rood: rgba(127, 26, 0, 1);
$cabanelf-elf: rgba(222, 122, 28, 1);
$cabanelf-achtergrond: rgba(234, 221, 212, 1);
$cabanelf-2: rgba(252, 222, 190, 1);
$cabanelf-3: rgba(212, 210, 165, 1);
// FONTS
h1 {
  color: $cabanelf-rood;
}

h2 {
  color: $cabanelf-elf;
}

// GLOBAL STYLES
.no-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.logo-top-left {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;
  width: 151px;
  height: 52px;
}

.text-center {
  text-align: center;
}

// NAVIGATION
.navigation-panel-container {
  display: table;
  float: right;
  height: 100%;
}

.navigation-panel {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

// PAGE SPECIFIC
.home-main {
  height: 100vh;
}

.home-left-col {
  background-image: url('../images/cabanelf_website_schets2.png');
  background-size: cover;
}

.home-right-col {
  background-image: url('../images/old-paper.jpg');
  background-size: cover;
}

.map {
  width: 100%;
  height: 100%;
}