@media only screen and (min-height: 450px) {
    .papierblok {
        content: url('../images/border1.png');
        width: 300px;
    }
    .tekst-papier-titel {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .tekst-papier-p {
        margin-left: 50px;
        width: 220px;
        height: 200px;
    }
}

@media only screen and (min-height: 500px) {
    .papierblok {
        max-width: 600px;
    }
    .tekst-papier-titel {
        margin-top: 65px;
        margin-bottom: 20px;
        margin-left: 70px;
    }
    .tekst-papier-p {
        margin-left: 70px;
        width: 450px;
        height: 150px;
    }
}

@media only screen and (min-height: 600px) {
    .papierblok {
        max-width: 400px;
        content: url('../images/border1.png');
    }
    .tekst-papier-titel {
        margin-top: 25px;
        margin-bottom: 20px;
        padding-top: 25px;
        margin-left: 50px;
    }
    .tekst-papier-p {
        margin-left: 50px;
        width: 320px;
        height: 250px;
    }
}

@media only screen and (min-height: 700px) {
    .papierblok {
        max-width: 500px;
    }
    .tekst-papier-titel {
        margin-top: 25px;
        margin-bottom: 20px;
        padding-top: 25px;
        margin-left: 70px;
    }
    .tekst-papier-p {
        margin-left: 70px;
        width: 350px;
        height: 300px;
    }
}

@media only screen and (min-height: 800px) {
    .papierblok {
        max-width: 600px;
    }
    .cabanelf-main {
        left: 30vw;
        max-width: 80vw;
    }
    .tekst-papier-titel {
        margin-top: 45px;
        margin-bottom: 20px;
        padding-top: 25px;
        margin-left: 85px;
    }
    .tekst-papier-p {
        margin-left: 85px;
        width: 400px;
        height: 350px;
    }
}

@media only screen and (min-height: 900px) {
    .papierblok {
        max-width: 700px;
    }
    .tekst-papier-titel {
        margin-top: 65px;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .tekst-papier-p {
        margin-left: 100px;
        width: 500px;
        height: 550px;
        overflow: hidden;
    }
}

@media only screen and (min-height: 1000px) {
    .papierblok {
        content: url('../images/border1.png');
        max-width: 800px;
    }
    .tekst-papier-titel {
        margin-top: 95px;
        margin-bottom: 20px;
        margin-left: 140px;
    }
    .tekst-papier-p {
        margin-left: 140px;
        width: 500px;
        height: 550px;
        overflow: hidden;
    }
}

@media only screen and (min-height: 1100px) {
    .papierblok {
        max-width: 900px;
    }
}

@media only screen and (min-height: 1300px) {
    .papierblok {
        max-width: 1000px;
    }
}

@media only screen and (min-height: 1400px) {
    .papierblok {
        max-width: 1100px;
    }
}

@media only screen and (min-height: 1500px) {
    .papierblok {
        max-width: 1200px;
    }
}

@media only screen and (min-height: 600px) and (min-width: 1200px) {
    .papierblok {
        max-width: 600px;
    }
    .tekst-papier-titel {
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
    .tekst-papier-p {
        margin-left: 80px;
        width: 430px;
        height: 400px;
    }
}