@import 'main.scss';
@import 'effects.scss';

.gallery-container {
    background-color: red;
    width: 100%;
    min-height: 75vh;
}

.photos-container {
    margin-top: -30px;
    width: 110%;
    height: 200%;
    min-height: 500px;
    background: url(../images/borderLeft.png) repeat-y;
    background-position: right top;
    z-index: -2;
}

.photos-container-bg {
    margin-top: -30px;
    position: absolute;
    width: 80%;
    height: 200%;
    min-height: 500px;
    z-index: -1;
    background-color: #282828;
}

.photos-border {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 16%;
    padding-top: 45px;
}

.photo-sidebar {
    @extend .grayscale;
    width: 75%;
    // height: 50%;
    left: 20px;
    margin-top: 20px;
}
  
.photo-sidebar:hover {
    filter: grayscale(0%);
}