@import 'main.scss';
@import 'effects.scss';

#background-picture-5 {
    display: none;
}

.photos-single-container {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.photo-single-container {
    height: 13vh;
    overflow: hidden;
}

.photo-single {
    @extend .grayscale;
    display: block;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    max-width: 70%;
    max-height: 100%;
}

.photo-single:hover {
    filter: grayscale(0%);
}

.photos-container {
    display: none;
    margin-top: -20px;
    width: 110%;
    height: 200%;
    min-height: 500px;
    background: url(../images/borderLeft.png) repeat-y;
    background-position: right top;
    z-index: -2;
}

.photos-container-bg {
    margin-top: -30px;
    position: absolute;
    width: 80%;
    height: 200%;
    min-height: 500px;
    z-index: -1;
    background-color: #282828;
}

.photo-enlarge {
    opacity: 1 !important;
    transition: opacity 1s linear !important;
    filter: grayscale(0%) !important;
}

.photos-full-container {
    position: absolute;
    width: 105%;
    height: 100%;

    margin-left: -25px;
    margin-top: -25px;
}

.photo-sidebar-full {
    @extend .grayscale;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -5;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
    .photos-full-container {
        height: 110%;
    }
}

@media only screen and (min-width: 850px) and (min-height: 720px) {
    .photos-full-container {
        height: 120%;
    }
}

@media only screen and (min-width: 850px) {
    .photos-container {
        display: block;
    }
}

@media only screen and (min-height: 600px) {
    #background-picture-5 {
        display: block;
    }
    .photos-border {
        height: 65vh;
    }
}

@media only screen and (min-height: 700px) {
    .photos-border {
        height: 70vh;
    }
}

@media only screen and (min-height: 820px) {
    .photo-single-container {
        height: 15vh;
        overflow: hidden;
    }
}

@media only screen and (min-height: 800px) {
    .photos-border {
        height: 75vh;
    }
}

@media only screen and (min-height: 1100px) {
    .photos-border {
        height: 85vh;
    }
}