.mobile-gallery {
    background-image: url('../images/borderBottomMobile.png');
    text-align: center;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 105%;
    height: 150px;
    bottom: 0;
    z-index: 2;
}

.mobile-photo {
    width: 150px;
    margin-top: 32.5px;
}

@media only screen and (min-height: 480px) and (min-width: 200px) and (max-width: 470px) {
    .mobile-gallery {
        visibility: visible;
    }
}

@media only screen and (min-height: 600px) and (min-width: 470px) and (max-width: 600px) {
    .mobile-gallery {
        visibility: visible;
    }
}

@media only screen and (min-height: 660px) and (min-width: 600px) and (max-width: 750px) {
    .mobile-gallery {
        visibility: visible;
    }
}