@import 'main.scss';
.cabanelf-overons-background {
  background: url('../images/fotos/champions.jpg') no-repeat;
  background-color: black;
  background-size: cover; // background-position-y: 180px;
  // background-position-x: 250px;
}
