html {
  overflow-x: hidden; }

p {
  color: #ffffff; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.logo {
  margin-left: 0px;
  width: 75px; }

h1 {
  color: #7f1a00;
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
  margin-bottom: 45px; }

h2 {
  color: #de7a1c; }

p {
  font-family: 'Poppins', sans-serif; }

html {
  height: 100%; }

.socials-bread {
  margin-top: 30px; }

.content-wrapper {
  width: 80vw;
  height: 650px;
  margin-left: 10vw;
  margin-top: 50px;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  background: black; }

.content-margin {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

.scrollbar-papier::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

@media only screen and (min-width: 350px) {
  .logo {
    margin-left: 25px;
    width: 125px; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px;
    width: 150px; }
  .scrollbar-papier::-webkit-scrollbar {
    width: 0px;
    background: transparent; } }

.grayscale, .nav-pic, .nav-pic-1, .nav-pic-2, .nav-pic-3, .background-picture, .background-picture-1, .background-picture-2, .background-picture-3 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s ease; }

.cabanelf-huis-background {
  overflow: hidden;
  min-height: 100vh; }

.cabanelf-main {
  overflow-y: hidden;
  position: absolute;
  left: 12vw;
  top: 7.5vh;
  width: 130vw;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  opacity: 1; }

.cabanelf-main-hide {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  opacity: 0; }

.cabanelf-huis-background {
  background-color: #cdd6df; }

.nav-pic-container {
  visibility: visible;
  position: fixed;
  width: 425px;
  height: 125px;
  bottom: 0;
  background-color: orange;
  z-index: 2;
  pointer-events: hover; }

.nav-pic, .nav-pic-1, .nav-pic-2, .nav-pic-3 {
  display: none;
  position: fixed;
  width: 120px;
  height: 70px;
  bottom: 0;
  background-size: contain;
  z-index: 1; }

.nav-pic:hover, .nav-pic-1:hover, .nav-pic-2:hover, .nav-pic-3:hover {
  filter: grayscale(0%); }

.nav-pic-1 {
  left: 0;
  background-image: url("../images/fotos/nav-pic-1.jpg");
  z-index: 1; }

.nav-pic-2 {
  left: 120px;
  background-image: url("../images/fotos/nav-pic-2.jpg"); }

.nav-pic-3 {
  left: 240px;
  background-image: url("../images/fotos/nav-pic-3.jpg"); }

.nav-pic-1:hover + .background-picture-1 {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  filter: grayscale(0%); }

.nav-pic-2:hover + .background-picture-2 {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  filter: grayscale(0%); }

.nav-pic-3:hover + .background-picture-3 {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  filter: grayscale(0%); }

.background-picture, .background-picture-1, .background-picture-2, .background-picture-3 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -5; }

.background-picture-1 {
  background: url("../images/fotos/nav-pic-1.jpg") no-repeat;
  background-size: cover;
  visibility: hidden; }

.background-picture-2 {
  background: url("../images/fotos/nav-pic-2.jpg") no-repeat;
  background-size: cover;
  visibility: hidden; }

.background-picture-3 {
  background: url("../images/fotos/nav-pic-3.jpg") no-repeat;
  background-size: cover;
  visibility: hidden; }

@media only screen and (min-width: 600px) and (min-height: 550px) {
  .nav-pic, .nav-pic-1, .nav-pic-2, .nav-pic-3 {
    display: inline; } }
