html {
  overflow-x: hidden; }

p {
  color: #ffffff; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.logo {
  margin-left: 0px;
  width: 75px; }

h1 {
  color: #7f1a00;
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
  margin-bottom: 45px; }

h2 {
  color: #de7a1c; }

p {
  font-family: 'Poppins', sans-serif; }

html {
  height: 100%; }

.socials-bread {
  margin-top: 30px; }

.content-wrapper {
  width: 80vw;
  height: 650px;
  margin-left: 10vw;
  margin-top: 50px;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  background: black; }

.content-margin {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

.footer {
  display: none;
  color: #C3C3C3;
  margin-top: 20px;
  position: relative; }

.scrollbar-papier::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

@media only screen and (min-height: 850px) and (min-width: 1000px) {
  .footer {
    display: block; } }

@media only screen and (min-width: 350px) {
  .logo {
    margin-left: 25px;
    width: 125px; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px;
    width: 150px; }
  .scrollbar-papier::-webkit-scrollbar {
    width: 0px;
    background: transparent; } }

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s ease; }

html {
  overflow: hidden !important; }

.cabanelf-huis-background {
  overflow: hidden;
  min-height: 100vh; }

.cabanelf-main {
  overflow-y: hidden;
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 130vw;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  opacity: 1; }

.cabanelf-main-hide {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  opacity: 0; }

.cabanelf-huis-background {
  background-color: #cdd6df; }
