h1 {
  color: #7f1a00;
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
  margin-bottom: 45px; }

h2 {
  color: #de7a1c; }

p {
  font-family: 'Poppins', sans-serif; }

.navbar-gray {
  background-color: #282828; }

.navbar-gray a {
  color: #CCCCCC; }

.navbar-gray a:hover {
  color: white; }
