html {
  overflow-y: scroll;
  overflow-x: hidden; }

p {
  color: #FFFFFF; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.logo {
  margin-left: 0px;
  width: 75px; }

h1 {
  color: #7f1a00;
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
  margin-bottom: 45px; }

h2 {
  color: #de7a1c; }

p {
  font-family: 'Poppins', sans-serif; }

html {
  height: 100%; }

.navbar-nav {
  padding-right: 75px;
  margin-top: 30px; }

.navbar-gray {
  padding-top: 2rem !important;
  background-color: #282828; }

.navbar-gray a {
  font-size: 1.2rem;
  color: #CCCCCC; }

.navbar-gray a:hover {
  color: white; }

.navbar-seperator {
  width: 100%;
  height: 50px;
  background: url("../images/border.png") repeat-x center;
  background-color: #cdd6df; }

.navbar-seperator-bottom {
  width: 100%;
  height: 92px;
  position: absolute;
  bottom: 0vh;
  z-index: 0;
  background: url("../images/borderBottom.png") repeat-x center;
  background-color: transparent; }

.nav-link {
  display: inline; }

.nav-item {
  margin-left: 10px;
  margin-right: 10px; }

.nav-icon {
  display: none; }

.nav-icon:hover {
  text-decoration: none; }

.nav-icon-left {
  display: none; }

.nav-icon-bread {
  display: inline;
  padding: 10px; }

.nav-icon-bread:hover {
  text-decoration: none; }

.socials-bread {
  margin-top: 30px; }

#cabanelf-huis {
  width: 100vw;
  height: 25vh;
  background: url("../images/cabanelfMain.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 150px;
  z-index: -1; }

.cabanelf-huis-background {
  background-color: #cdd6df; }

.content-wrapper {
  width: 80vw;
  height: 650px;
  margin-left: 10vw;
  margin-top: 50px;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  background: black; }

.content-margin {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

.splashes-bottom-left {
  visibility: hidden;
  position: absolute;
  z-index: 1; }

.splashes-bottom-right {
  visibility: hidden;
  position: absolute;
  z-index: 1; }

.tekst-papier-wrapper {
  width: 500px;
  height: 700px;
  margin-left: 0px;
  position: absolute;
  z-index: 1; }

.tekst-papier-titel {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 110px;
  margin-left: 120px;
  font-family: 'Vollkorn', serif; }

.tekst-papier {
  width: 100%;
  height: 100%;
  margin-left: -70px;
  background: url("../images/border-1-small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; }

.tekst-papier-p {
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin-left: 120px;
  width: 250px;
  height: 50px; }

@media only screen and (min-width: 300px) {
  #cabanelf-huis {
    width: 100vw;
    height: 50vh; } }

@media only screen and (min-width: 350px) {
  .logo {
    margin-left: 25px;
    width: 125px; } }

@media only screen and (min-width: 600px) {
  #cabanelf-huis {
    width: 100vw;
    height: 75vh; }
  .tekst-papier-wrapper {
    width: 900px;
    height: 900px;
    margin-left: 75px; }
  .tekst-papier-titel {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 110px;
    margin-left: 80px; }
  .tekst-papier {
    width: 100%;
    height: 100%;
    margin-left: -70px;
    background: url("../images/border1.png") no-repeat; }
  .tekst-papier-p {
    margin-left: 80px;
    width: 320px;
    height: 50px; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px;
    width: 150px; }
  .navbar-gray {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background-color: #282828; }
  #cabanelf-huis {
    width: 100vw;
    height: 100vh;
    top: 150px; } }

@media only screen and (min-width: 992px) {
  .navbar-nav {
    margin-top: 0px; }
  .nav-icon {
    margin-left: 15px;
    margin-right: 15px;
    display: inline; }
  .nav-icon-left {
    margin-left: 45px;
    display: inline; }
  .nav-icon-bread {
    display: none; }
  #cabanelf-huis {
    width: 100vw;
    height: calc(100vh-200px);
    top: 200px;
    z-index: 0; }
  .splashes-bottom-left {
    visibility: visible;
    width: 563px;
    left: 0;
    bottom: 0; }
  .splashes-bottom-right {
    visibility: visible;
    width: 563px;
    right: 0;
    bottom: 0; }
  .tekst-papier-wrapper {
    width: 900px;
    height: 900px;
    margin-left: 75px;
    position: absolute;
    z-index: 1; }
  .tekst-papier-titel {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 100px;
    margin-left: 120px; }
  .tekst-papier {
    width: 100%;
    height: 140%;
    margin-left: -40px;
    background: url("../images/border1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; }
  .tekst-papier-p {
    margin-left: 120px;
    width: 450px; } }
