html {
  overflow-x: hidden; }

p {
  color: #ffffff; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.logo {
  margin-left: 0px;
  width: 75px; }

h1 {
  color: #7f1a00;
  font-family: 'Libre Baskerville', serif;
  margin-top: 60px;
  margin-bottom: 45px; }

h2 {
  color: #de7a1c; }

p {
  font-family: 'Poppins', sans-serif; }

html {
  height: 100%; }

.socials-bread {
  margin-top: 30px; }

.content-wrapper {
  width: 80vw;
  height: 650px;
  margin-left: 10vw;
  margin-top: 50px;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  background: black; }

.content-margin {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

.scrollbar-papier::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5; }

.scrollbar-papier::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

@media only screen and (min-width: 350px) {
  .logo {
    margin-left: 25px;
    width: 125px; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px;
    width: 150px; }
  .scrollbar-papier::-webkit-scrollbar {
    width: 0px;
    background: transparent; } }

.navbar-nav {
  padding-right: 75px;
  margin-top: 30px; }

.navbar-gray {
  padding-top: 2rem !important;
  background-color: #282828; }

.navbar-gray a {
  font-size: 1.2rem;
  color: #cccccc; }

.navbar-gray a:hover {
  color: white; }

.navbar-seperator {
  width: 100%;
  height: 50px;
  background: url("../images/border.png") repeat-x center;
  background-color: transparent; }

.navbar-seperator-bottom {
  display: none;
  width: 100%;
  height: 92px;
  position: fixed;
  bottom: 0px;
  z-index: 0;
  background: url("../images/borderBottom.png") repeat-x center;
  background-color: transparent; }

.nav-link {
  display: inline; }

.nav-item {
  margin-left: 10px;
  margin-right: 10px; }

.nav-icon {
  display: none; }

.nav-icon:hover {
  text-decoration: none; }

.nav-icon-left {
  display: none; }

.nav-icon-bread {
  display: inline;
  padding: 10px; }

.nav-icon-bread:hover {
  text-decoration: none; }

@media only screen and (min-width: 600px) and (min-height: 550px) {
  .navbar-seperator-bottom {
    display: inline; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px;
    width: 150px; } }

@media only screen and (min-width: 992px) {
  .navbar-nav {
    margin-top: 0px; }
  .nav-icon {
    margin-left: 15px;
    margin-right: 15px;
    display: inline; }
  .nav-icon-left {
    margin-left: 45px;
    display: inline; }
  .nav-icon-bread {
    display: none; } }
