.cabanelf-photos-container {
  width: 180px;
  height: 100vh;
  background-color: #282828; }

.cabanelf-photos-border {
  margin-top: -30px;
  margin-left: 180px;
  width: 61px;
  height: 100vh;
  background: url(../images/borderLeft.png) repeat-y right; }
